/* feedback engine rules */

.selectLabel{
    line-height: 25px;
}

.feedbackMsg{
    width: 600px; 
    height: 50px; 
    margin: 0 auto; 
    background: #eee; 
    border: 1px solid #bbb; 
    position: relative; 
    z-index: 100;
}

.feedbackMsg p{
    line-height: 20px;
    padding: 0 10px;
}

.stars{
    width: 26px;
    height: 26px;
    float: left;
    cursor: pointer;
    list-style: none;
}

.ratingBox:nth-child(odd){
    background: #e5f1ed;
}

.comments_box{
    resize: vertical;
}

.notification{
    position: absolute;
    top: 100;
    width: 900px;
    border: 1px solid #bbb;
    z-index: 10000;
    background: #fff;
    height: 160px;
}

.pending{
    background: #e5f1ed;
}

.rowBox{
    margin-top: 1px;
    border-bottom: 1px solid #bbb;
}