/* View
***************************************************************/

.info-block p{
    line-height: 30px;
}

.tmBox{
    float: left;
    height: 360px;
    margin-top: 10px;
}

.tmBoxDealers{
    float: left;
    width: 100%;
    height: 250px;
}

.dealerList:nth-child(odd){
    background: #eee;
}

.dealerList{
    cursor: move;
}

.editDropBox{
    text-align: center;
    height: 80px;
    background: #f6f6f6;
    border: 1px solid #aaa;
}

.editDropBox p{
    color: #aaa;
    line-height: 50px;
}

.highlight{
    background: #EEE;
}

.quarx-account-info p, .quarx-account-info a{
    margin: 0;
    padding: 0;
    line-height: 40px;
}

/* Notifications
***************************************************************/

.success-box{
    z-index: 10000001;
    width: 100%;
    background: #33CC33;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.success-box p{
    color: #fff;
    text-align: center;
}

.success-txt{
    padding: 5px; 
    color: #0C3; 
}

.error-box{
    z-index: 1006001;
    width: 100%;
    background: #F00;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.error-box p{
    text-align: center;
    color: #fff;
}

.error-text{
    padding: 5px; 
    color: #F00; 
}

.error-border{
    border: 1px solid #F00;
}