/* blog engine rules */

textarea.tinymce{
    height: 400px;
}

.pad15{
    padding: 0 15px;
}

.tinymce_m{
    resize: vertical; 
}

/* Image Gallery
***************************************************************/

.plusBtn > div{
    margin: 11px 0 0 14px;
}

/* View
***************************************************************/

.infoBlock p{
    line-height: 30px;
}

/* Notifications
***************************************************************/

.success-box{
    z-index: 10000001;
    width: 100%;
    background: #33CC33;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.success-box p{
    color: #fff;
    text-align: center;
}

.success-txt{
    padding: 5px; 
    color: #0C3; 
}

.error-box{
    z-index: 1006001;
    width: 100%;
    background: #F00;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.error-box p{
    text-align: center;
    color: #fff;
}

.error-text{
    padding: 5px; 
    color: #F00; 
}

.error-border{
    border: 1px solid #F00;
}