.ui-content{padding:10px;margin:auto}#quarx-menu.quarx-menu-panel{background:url(http://localhost:8888/_quarx/quarx/css/../images/bg_linen.jpg)}.tHide{display:none}.quarx-profile-image-box{min-width:320px;max-width:325px}.quarx-device{width:680px;margin:5px
auto}.quarx-small-device{width:320px;margin:5px
auto}.quarx-account-controls{width:680px}