.pad15{
    padding: 0 15px;
}

/* Image Gallery
***************************************************************/

.plusBtn > div{
    margin: 11px 0 0 14px;
}

/* Notifications
***************************************************************/

.success-box{
    z-index: 10000001;
    width: 100%;
    background: #33CC33;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.success-box p{
    color: #fff;
    text-align: center;
}

.success-txt{
    padding: 5px; 
    color: #0C3; 
}

.error-box{
    z-index: 1006001;
    width: 100%;
    background: #F00;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px;
    box-shadow: 0px 0px 10px;
    display: none;
}

.error-box p{
    text-align: center;
    color: #fff;
}

.error-text{
    padding: 5px; 
    color: #F00; 
}

.error-border{
    border: 1px solid #F00;
}

/* Select a User
***************************************************************/

.select-a-user{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    border: 1px solid #222;
    height: 100px;
    z-index: 100000;
    background: #eee;
    overflow: scroll;
    display: none;
}

.select-a-user ul{
    margin: 0;
    padding: 0;
}

.select-a-user ul li{
    line-height: 30px;
    list-style: none;
    cursor: pointer;
    padding: 0 10px;
}

.select-a-user ul li:hover{
    background: #FFF;
}

#msg-box{
    display: none;
    margin: 0;
    padding: 0;
}

#msg-box p{
    margin: 0;
    padding: 0;
    line-height: 40px;
}

/* Results
***************************************************************/

.result-list-row:hover{
    background: #EEE;
}

.result-list-row{
    border-bottom: 1px solid #ccc;
}

.result-list-row p{
    padding: 0;
    margin: 0;
    line-height: 40px;
}

.inbox-tools{
    background: #EEE;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.tool-set{
    width: 300px;
    float: left;
}